<!-- Home page -->

<div>
    <h3 class="section-header"><i>Featured</i></h3>
</div>

<div id="featured-container">
{% assign maxRelated = 3 %}
{% assign maxRelatedCounter = 0 %}
{% for post in site.posts %}
<div class="preview-panel">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <!-- Fancy image blending stuff for thumbnails -->
        <div class="panel-container">
            <div class="panel-img" style="background: 
                url('{{ post.background }}'), 
                url('{{ post.silhouette }}');
                background-size:cover;"></div>
            <div class="panel-color"></div>

            <!-- Title -->
            <div class="panel-info">
                <h2><span>{{ post.title }}</span></h2>
                <h3><span>{{ post.author }}</span></h3>
                <p class="excerpt"><i>{{ post.summary }}</i></p>
            </div>
        </div>
    </a>
</div>
{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
{% if maxRelatedCounter >= maxRelated %}
    {% break %}
{% endif %}
{% endfor %}
</div>

<div>
    <h3 class="section-header"><i>Discover</i></h3>
</div>

<div class="tag-cloud">
{% assign tags_list = site.tags %}
    {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
            <div>
                <a href="#{{ tag }}">{{ tag | capitalize }} ({{ site.tags[tag].size }})</a></li>
            </div>
        {% endfor %}
    {% else %}
        {% for tag in tags_list %}
            <!-- <div class="tag-boxes"> -->
                <button class="tag-button" type="button" onclick="tagButtonClick('{{ tag[0] }}')">
                    {{ tag[0] | capitalize }} ({{ tag[1].size }})
                </button>
            <!-- </div> -->
        {% endfor %}
    {% endif %}
{% assign tags_list = nil %}
</div>

<input type="search" id="search-input" placeholder="Search by title, author, tag ...">

<div id="results-container"></div>
