/**
 * Site header
*/

body {
    margin: 0;
}
.wrapper .container {
    max-width: 90%;
}

.site-header {
    position: relative;
    text-align: center;
    border-bottom: 10px solid rgba(50,50,50,1);
    // .banner-background {
    //     position:absolute;
    //     left:0;
    //     right:0;
    //     top:0;
    //     bottom:0;
    //     z-index: -1;
    //     background: url(https://www.look.com.ua/large/201209/2372.jpg);
    //     background-size: cover;
    //     opacity: 0.8;
    //     filter: sepia(80%);
    // }
    a {
        img {
            padding: 40px;
        }

        h1 { // Logo title
            font-family: 'Josefin Sans', sans-serif;
            color: rgba(50,50,50,1);
            font-size: 4rem;
            font-weight: bold;
        }
    }
}

.navbar {
    display: block;
    text-align: right;
    ul {
        margin-bottom: 5px;
    }
}

.nav-item {
    display: inline-block;
    padding: 0 1rem;
    margin: 0;
}

.post {
    max-width: 80rem;
    margin: auto;
}
.post-nav {
    text-align: center;
    padding: 2rem;
    font-weight: 300; 
}
.post-header {
    padding: 40px 0px 10px 0px;
}
.post-title {
    display: block;
    font-size: 4rem;
    font-weight: 900;
}
.post-info {
    display: block;
    font-size: 2rem;
    font-weight: 400;
}
.post-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    blockquote {
        width: 50%;
        float: right;
        border-left: 0.3rem solid rgba(251, 87, 82, 0.6);
        background: rgba(251, 87, 82, 0.2);
        font-size: 2rem;
        margin: 1.5rem 0 1.5rem 1.5rem;
    }
    .chunk-note {
        @extend blockquote;
        width: 100%;
        float: none;
        margin: 2rem 0;
        border-left: 0.3rem solid rgba(243, 169, 79, 0.7);
        background: rgba(243, 169, 79, 0.3);
        font-size: 1.5rem;
        a {
            color: rgba(183, 79, 59, 1);
        }
    }
    .editors-note {
        @extend blockquote;
        width: 100%;
        float: none;
        margin: 2rem 0;
        border-left: 0.3rem solid rgba(127, 181, 142, 0.6);
        background: rgba(127, 181, 142, 0.2);
        font-size: 1.5rem;
        font-style: italic
    }
    hr {
        height: 2px;
        background: lightgrey;
    }
}

.row {
    padding: 10px 0px;
}

/**
 * Site footer
 */
.site-footer {
    width: 100%;
    display: inline-block;
    border-top: 10px solid rgba(50,50,50,1);
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */

.preview-container {
    margin: 40px 0px;
}
.preview-panel {
    float: left;
    width: 22%;
    margin: 1.5%;
    display: block;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    position: relative;
    overflow: hidden;
}

.panel-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    &:hover .panel-img {
        -webkit-transform:scale(1.05); /* Safari and Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* IE 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
        opacity: 0.2;
    }
    &:hover .panel-color, &:hover .panel-color-search {
        opacity: 0.5;
    }

    &:hover .excerpt {
        display: block;
    }
    &:hover h2, &:hover h3 {
        display: none;
    }
}

.panel-img {
    -webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;

    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-size: cover;
    background-blend-mode: lighten;
    -webkit-filter: grayscale(80%);
    opacity: 0.7;
}

.panel-color, .panel-color-search {
    -webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;

    opacity: 0.4;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.panel-info {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5%;
    padding-left: 10%;
    color: rgba(50,50,50,1);
    
    h2 {
        font-size: 2.7rem;
        font-weight: 700;
        margin: 0px;
    }
    h3 {
        font-size: 2rem;
        font-weight: 500;
        margin: 0px;
        margin-bottom: 2rem;
    }
    .excerpt {
        font-size: 1.5rem;
        font-weight: 500;
        display: none;
    }
}

#search-input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3px;
}
#search-input:focus {
    border-color: rgba(100,100,100,1);
}

.tag-cloud {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
}
.tag-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
    display: inline-block;
    background-color: rgb(245,245,245);
    border-radius: 0.8rem;
    border: darkgrey;
    margin: 0.5em 0;
    &:hover, &:focus {
        background-color: rgb(253, 176, 174);
        color: black;
    }
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: rgba(50,50,50,1);
}
a {
    color: rgba(50,50,50,1);
}

.section-header {
    clear: both;
    padding-top: 20px;
    border-bottom: 1px solid rgba(150,150,150,1);
}
h3.section-header {
    margin-bottom: 10px;
    font-size: 3rem;
    // line-height: 1.3;
    font-weight: 700;
}

#scrollToTopButton {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(127, 181, 142, 0.6);
    color: white;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 10px;
    font-size: 14px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/**
 * override column size for mobile
*/
@media (max-width: 1200px) { // iPad
    .wrapper .container {
        max-width: 100%;
    }
    .preview-panel {
        width: 30%;
    }
}
@media (max-width: 800px) { // Other (eg. half-screen)
    .wrapper .container {
        max-width: 100%;
    }
    .preview-panel {
        width: 45%;
    }
}
@media (max-width: 550px) { // Phones
    .wrapper .container {
        max-width: 100%;
    }
    .preview-panel {
        width: 97%;
        height: 50vw; // Half-height tiles on mobile
    }
    .post-content {
        blockquote {
            width: 100%;
            margin: 1.5rem 0;
        }
    }
}